<div class="register">
  <header class="title-header">Welcome to Chowtime</header>
  <hr>
  <div>
    <h2 class="header">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registerForm">
      <label class="credentialField">
        <input formControlName="email" placeholder="Email">
      </label>
      <label class="credentialField">
        <input formControlName="password" type="password" placeholder="Password">
      </label>
      <label class="credentialField">
        <input formControlName="confirm_password" type="password" placeholder="Confirm Password">
      </label>
      <label class="centerLabel">
        <input class="button credentialField" type="submit" value="Submit" [disabled]="!registerForm.valid">
      </label>
    </form>
  </div>
</div>
