.register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.credentialField {
    margin: 10px;
}

.button {
    background-color: white;
    color: #0273d4;
    margin: 0px;
}

.button:hover {
    background-color: #0273d4;
    color: white;
}

.centerLabel {
    margin: auto;
}

.header {
    text-align: center;
}

.title-header {
    text-align: center;
}