<div class="login">
  <hr>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
      <label class="credentialField">
        <input formControlName="email" placeholder="Email">
      </label>
      <label class="credentialField">
        <input formControlName="password" type="password" placeholder="Password">
      </label>
      <label class="centerLabel">
        <input type="submit" value="Login" [disabled]="!loginForm.valid">
      </label>
    </form>
  </div>
</div>
