<nav class="navbar">
    <span class="title">
        <a href="/">Chowtime</a>
    </span>
    <ul>
        <li>
            <a href="/burgers" target="_blank" rel="noreferrer noopener">Burgers</a>
        </li>
        <li>
            <a href="/sides" target="_blank" rel="noreferrer noopener">Sides</a>
        </li>
        <li>
            <a href="/drinks" target="_blank" rel="noreferrer noopener">Drinks</a>
        </li>
    </ul>
    <span class="justify-right">
        <i class="cart-size fas fa-shopping-cart"></i>
        <span class="auth" *ngIf="this.authService.loginStatus(); else anonymous" (click)="this.authService.logout()">
            Logout
        </span>
        <ng-template #anonymous (click)="this.authService.redirectToLogin()">
            <span class="auth">Log In</span>
        </ng-template>
    </span>
</nav>
