<nav class="navbar">
    <span class="title">
        <a href="/">Chowtime</a>
    </span>
    <ul>
        <li>
            <a href="/food/burgers">Burgers</a>
        </li>
        <li>
            <a href="/food/sides">Sides</a>
        </li>
        <li>
            <a href="/food/drinks">Drinks</a>
        </li>
    </ul>
    <span class="justify-right">
        <i class="cart-size fas fa-shopping-cart"></i>
        <span class="auth" *ngIf="this.authService.loginStatus(); else anonymous" (click)="this.authService.logout()">
            Logout
        </span>
        <ng-template #anonymous>
            <span class="auth" (click)="this.authService.redirectToLogin()">Log In</span>
        </ng-template>
    </span>
</nav>
