<nav class="navbar">
    <span class="title">
        <a href="/" class="white-link">Chowtime</a>
    </span>
    <ul>
        <li>
            <a href="/food/burgers" class="white-link">Burgers</a>
        </li>
        <li>
            <a href="/food/sides" class="white-link">Sides</a>
        </li>
        <li>
            <a href="/food/drinks" class="white-link">Drinks</a>
        </li>
    </ul>
    <span class="justify-right">
        <a href="/cart">
            <i class="cart-size fas fa-shopping-cart black-link"></i>
        </a>
        <span class="auth" *ngIf="this.authService.loginStatus(); else anonymous" (click)="this.authService.logout()">
            Logout
        </span>
        <ng-template #anonymous>
            <span class="auth" (click)="this.authService.redirectToLogin()">Log In</span>
        </ng-template>
    </span>
</nav>
