.authentication-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: gainsboro;
}

.registerOrLogin {
    margin: 5px;
    cursor: pointer;
    color:#0077cc;

    &Underline {
        text-decoration: underline;
        color: green;
    }
}

.twitter {
    cursor: pointer;

    &:active {
        filter: brightness(70%); 
    }
}